.imgbg{
  background-image: url("E:\final_year\online_education_service\project\public\Images\Gallery\title-area-background.png");
  width: 100%;
  height:35vh;
}

.cursor-pointer{

  cursor: pointer;

}