/* Style buttons */
.studybtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .studybtn:hover {
    background-color: RoyalBlue;
  }

  .studyh1{
    color: #04d2c8;
  }